.good-button {
    -fx-background-color: rgb(231, 193, 78);
}

.good-button:hover {
    -fx-background-color: rgb(228, 185, 56);
    -fx-cursor: hand;
}

.bad-button {
    -fx-background-color: rgb(234, 101, 101);
}

.bad-button:hover {
    -fx-background-color: rgb(231, 78, 78);
    -fx-cursor: hand;
}

.warn-button {
    -fx-background-color: rgb(195, 198, 219);
}

.warn-button:hover {
    -fx-background-color: rgb(162, 164, 176);
    -fx-cursor: hand;
}